body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}
.center_div {
    text-align: center;
}
.form_variable label {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
    font-size: larger;
}
.edit_button{
    text-align: right;
    font-size: larger;
    margin-right: 40px;

}
.error_page_button{
    font-size: xx-large;
}
.worldbook{
        position: absolute;
        right: 34px;
        z-index: 1;
        top: 15px;
}