{% extends "encyclopedia/layout.html" %}
{% block title %}
    New Articel
{% endblock %}
{% block body %}
<form action="{% url 'new_page' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="Title">Title in Markdown</label>
        <textarea class="form-control"  rows="3" name="title"></textarea>
      </div>
    <div class="form-group">
        <label for="Content">Content in Markdown</label>
        <textarea class="form-control" rows="10" name="content"></textarea>
    <input type="submit" value="Submit">    
    </div>      
</form>
{% endblock %}
